/* Thin (100) */
@font-face {
  font-family: Montserrat;
  font-weight: 100;
  font-style: normal;
  src: url('./montserrat/static/Montserrat-Thin.ttf') format('truetype');
}

@font-face {
  font-family: Montserrat;
  font-weight: 100;
  font-style: italic;
  src: url('./montserrat/static/Montserrat-ThinItalic.ttf') format('truetype');
}

/* Light (300) */
@font-face {
  font-family: Montserrat;
  font-weight: 100;
  font-style: normal;
  src: url('./montserrat/static/Montserrat-Light.ttf') format('truetype');
}

@font-face {
  font-family: Montserrat;
  font-weight: 100;
  font-style: italic;
  src: url('./montserrat/static/Montserrat-LightItalic.ttf') format('truetype');
}

/* XLight (200) */
@font-face {
  font-family: Montserrat;
  font-weight: 200;
  font-style: normal;
  src: url('./montserrat/static/Montserrat-ExtraLight.ttf') format('truetype');
}

@font-face {
  font-family: Montserrat;
  font-weight: 200;
  font-style: italic;
  src: url('./montserrat/static/Montserrat-ExtraLightItalic.ttf')
    format('truetype');
}

/* Normal (400) */
@font-face {
  font-family: Montserrat;
  font-weight: 400;
  font-style: normal;
  src: url('./montserrat/static/Montserrat-Regular.ttf') format('truetype');
}

/* Medium (500) */
@font-face {
  font-family: Montserrat;
  font-weight: 500;
  font-style: normal;
  src: url('./montserrat/static/Montserrat-Medium.ttf') format('truetype');
}

@font-face {
  font-family: Montserrat;
  font-weight: 500;
  font-style: italic;
  src: url('./montserrat/static/Montserrat-MediumItalic.ttf') format('truetype');
}

/* SemiBold (600) */
@font-face {
  font-family: Montserrat;
  font-weight: 600;
  font-style: normal;
  src: url('./montserrat/static/Montserrat-SemiBold.ttf') format('truetype');
}

@font-face {
  font-family: Montserrat;
  font-weight: 600;
  font-style: italic;
  src: url('./montserrat/static/Montserrat-SemiBoldItalic.ttf')
    format('truetype');
}

/* Bold (700) */
@font-face {
  font-family: Montserrat;
  font-weight: 700;
  font-style: normal;
  src: url('./montserrat/static/Montserrat-Bold.ttf') format('truetype');
}

@font-face {
  font-family: Montserrat;
  font-weight: 700;
  font-style: italic;
  src: url('./montserrat/static/Montserrat-BoldItalic.ttf') format('truetype');
}

/* Heavy (900) */
@font-face {
  font-family: Montserrat;
  font-weight: 900;
  font-style: normal;
  src: url('./montserrat/static/Montserrat-ExtraBold.ttf') format('truetype');
}

@font-face {
  font-family: Montserrat;
  font-weight: 900;
  font-style: italic;
  src: url('./montserrat/static/Montserrat-ExtraBoldItalic.ttf')
    format('truetype');
}

/* Black (950) */
@font-face {
  font-family: Montserrat;
  font-weight: 950;
  font-style: normal;
  src: url('./montserrat/static/Montserrat-Black.ttf') format('truetype');
}

@font-face {
  font-family: Montserrat;
  font-weight: 950;
  font-style: italic;
  src: url('./montserrat/static/Montserrat-BlackItalic.ttf') format('truetype');
}
