/*----------------------------
    Course Sidebar Styles
-----------------------------*/
.edu-course-widget {
  background: var(--color-shade);
  padding: 20px 30px 30px;
  border-radius: 5px;
  .widget-title {
    border-bottom: 1px solid rgba(45, 40, 78, 0.07);
    padding-bottom: 20px;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
  }
  .content {
    margin-top: 30px;

    .edu-form-check {
      position: relative;
      & + .edu-form-check {
        margin-top: 25px;
      }
    }
  }
  &.widget-category {
    label {
      display: flex;
      justify-content: space-between;
    }
  }
}

.edu-btn-show-my-courses {
  border-radius: 5px;
  display: inline-block;
  height: 60px;
  line-height: 60px;
  color: var(--color-white);
  background: var(--color-primary);
  padding: 0 10px;
  font-size: 18px;
  font-weight: 700;
  transition: 0.4s;
  font-family: var(--font-primary);
  border: 0 none;

  &:hover {
    background: var(--color-dark);
    color: var(--color-white);
  }
}

.edu-size-number {
  width: 40px;
  text-align: center;
  color: var(--color-dark);
  font-weight: 600;
  font-family: var(--font-primary);
}

.edu-course-pagination {
  display: flex;
  justify-content: center;
  align-items: center;
}

.edu-meeting-link {
  position: fixed;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  text-shadow: 2px 2px black;
  background-color: rgba(0, 0, 0, 0.5);

  .container {
    width: 40%;
    display: flex;
    position: relative;
  }

  .thumbnail {
    position: relative;
    border-radius: 5px;
    &::before {
      background: linear-gradient(
        360deg,
        #2d284e 0%,
        rgba(45, 40, 78, 0) 70.5%
      );
      position: absolute;
      content: '';
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-radius: 5px;
    }
    .close-button {
      position: absolute;
      top: 0;
      right: 10px;
      text-align: center;
      font-size: 30px;
    }
    img {
      border-radius: 5px;
      // filter: brightness(85%);
    }
    .content-overlay {
      height: 100%;
      display: flex;
      justify-content: space-around;
      flex-direction: column;
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      text-align: center;
      padding: 50px 20px;
      @media #{$sm-layout} {
        padding: 20px 20px;
      }
      .title {
        margin-bottom: 0;
        color: var(--color-white);
        font-size: 40px;
        line-height: 44px;
        @media #{$sm-layout} {
          font-size: 22px;
          line-height: 32px;
        }
      }
    }
  }

  &__image {
    border-radius: 10px;
  }

  &__action {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
  }
}
