.dashboard-drawer {
  &.MuiDrawer-root {
    .MuiDrawer-paper {
      z-index: 9;
      margin-top: 80px;
      background-color: var(--color-primary-darker) !important;
      color: #ffffff !important;
    }
  }
}

.dashboard-table {
  .MuiTableHead-root {
    .MuiTableCell-root {
      background-color: var(--color-shade);
      color: var(--color-primary);
      font-size: 14px;
      font-weight: 600;
      line-height: 1;
      letter-spacing: 0.5;
    }
    .MuiTableCell-paddingCheckbox {
      padding-top: 4;
      padding-bottom: 4;
    }
  }

  .MuiTableBody-root {
    .MuiTableRow-root {
      font-size: 16px;
      transition: box-shadow 0.3s;
      &:hover {
        box-shadow: 0 0 15px var(--color-primary);
      }
    }
    .MuiTableCell-root {
      border-left: none;
      border-right: none;
    }
  }

  .MuiCircularProgress-root {
    width: 60px !important;
    height: 60px !important;
    color: var(--color-primary);
  }

  &--is-loading {
    &.MuiTableContainer-root {
      overflow-y: hidden;
    }

    .MuiTable-root {
      height: 100%;
    }

    .MuiTableBody-root {
      .MuiTableRow-root {
        &:hover {
          box-shadow: none;
        }
      }
    }
  }
}

.dashboard-popover {
  &.MuiPopover-root {
    .MuiPaper-root {
      width: 300px;
    }
  }
}
