.profile {
  &-form {
    margin: 40px 0;
  }

  &-page-title {
    font-size: 2rem !important;
    font-weight: bold !important;
  }

  &__section {
    margin: 20px 0;

    &-title {
      font-size: 2.2rem !important;
      font-weight: bold !important;
      margin-bottom: 5px !important;
    }

    &-subtitle {
      font-weight: 600;
    }

    &-noitem {
      text-align: center;
    }

    &__thumbnail {
      width: 80%;
      margin: 20px auto 40px auto;
    }
  }

  &-box {
    margin-top: 25px;
    border-top: 1px solid #eee;
    box-shadow: 0 1px 6px rgb(57 73 76 / 35%);
    background-color: #fff;
    border-radius: 5px;

    &__header,
    &__content {
      padding: 25px 40px;
    }

    &__header {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      &-title {
        font-size: 24px;
        font-weight: 600;
      }
    }

    &__content {
      &-left {
        display: flex;
        align-items: center;
        justify-content: center;

        @media only screen and (min-width: 900px) {
          justify-content: flex-start;
        }
      }

      &-right {
        display: flex;
        justify-content: center;
        margin-bottom: 30px;

        @media only screen and (min-width: 900px) {
          justify-content: flex-end;
          margin-bottom: 0;
        }
      }

      &__wrapper {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
          rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
        text-align: left;
        padding: 20px 30px;
        margin-bottom: 20px;
      }

      &__experience {
        &-title {
          display: flex;
          gap: 5px;
          margin-bottom: 7px;

          &-text {
            font-size: 14px !important;
            font-weight: 600 !important;
          }
        }

        &-company {
          display: flex;
          gap: 5px;
          margin-bottom: 7px;

          &-text {
            font-size: 14px !important;
            font-weight: 600 !important;
          }
        }

        &-history {
          display: flex;
          gap: 5px;
          margin-bottom: 7px;

          &-text {
            font-size: 14px !important;
            font-weight: 600 !important;
          }
        }
      }

      &__sample-teach {
        &_text {
          font-size: 16px !important;
          font-weight: 500 !important;
        }

        &_list {
          font-size: 14px;
        }

        &_btn {
          border-radius: 5px !important;
          display: inline-block !important;
          color: var(--color-primary) !important;
          background: var(--color-white) !important;
          padding: 10px 30px !important;
          font-size: 14px !important;
          font-weight: 600 !important;
          font-family: var(--font-primary) !important;
          border: var(--border-width) solid var(--color-primary) !important;
          text-transform: capitalize !important;
          &:hover {
            background: var(--color-secondary) !important;
            border-color: var(--color-secondary) !important;
            color: var(--color-white) !important;
          }

          @media only screen and (max-width: 540px) {
            margin-bottom: 10px !important;
          }

          &.disabled {
            pointer-events: none !important;
            cursor: no-drop !important;
            background: transparent !important;
            color: var(--color-extra01) !important;
            border-color: var(--color-extra02) !important;
          }
        }
      }
    }

    &__avatar {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      &-btn {
        cursor: pointer;
        border-radius: 5px !important;
        display: inline-block !important;
        color: var(--color-primary) !important;
        background: var(--color-white) !important;
        padding: 3px 12px !important;
        font-size: 14px !important;
        font-weight: 600 !important;
        font-family: var(--font-primary) !important;
        border: var(--border-width) solid var(--color-primary) !important;
        text-transform: capitalize !important;
        &:hover {
          background: var(--color-secondary) !important;
          border-color: var(--color-secondary) !important;
          color: var(--color-white) !important;
        }

        @media only screen and (max-width: 540px) {
          margin-bottom: 10px !important;
        }
      }
    }
  }

  &__block {
    &-title,
    &-subtitle {
      text-align: center;

      @media only screen and (min-width: 900px) {
        text-align: left;
      }
    }

    &-title {
      font-size: 16px !important;
      margin-bottom: 24px !important;
    }

    &-subtitle {
      font-size: 14px !important;
    }
  }

  &__submit {
    border-radius: 5px;
    display: inline-block;
    color: var(--color-white);
    background: var(--color-primary);
    padding: 20px 70px;
    font-size: 18px;
    font-weight: 600;
    font-family: var(--font-primary);
    border: var(--border-width) solid var(--color-primary);
    text-transform: capitalize;
    &:hover {
      background: var(--color-primary-darker);
      border-color: var(--color-primary-darker);
    }

    @media only screen and (max-width: 540px) {
      margin-bottom: 10px;
    }
  }
}
