.profile {
  &-form {
    margin-top: 40px;
    margin-bottom: 80px;
  }

  &-page-title {
    font-size: 2rem !important;
    font-weight: bold !important;
  }

  &__section {
    margin: 20px 0;

    &-title {
      font-size: 2.2rem !important;
      font-weight: bold !important;
      margin-bottom: 5px !important;
    }

    &-subtitle {
      font-weight: 600;
    }

    &__thumbnail {
      width: 80%;
      margin: 20px auto 40px auto;
    }
  }

  &-box {
    margin-top: 30px;
    border-top: 1px solid #eee;
    box-shadow: 0 1px 6px rgb(57 73 76 / 35%);
    background-color: #fff;
    border-radius: 5px;

    &__header,
    &__content {
      padding: 25px 40px;
    }

    &__header {
      &-title {
        font-size: 24px;
        font-weight: 600;
      }
    }

    &__content {
      &-left {
        display: flex;
        align-items: center;
        justify-content: center;

        @media only screen and (min-width: 900px) {
          justify-content: flex-start;
        }
      }

      &-right {
        display: flex;
        justify-content: center;
        margin-bottom: 30px;

        @media only screen and (min-width: 900px) {
          justify-content: flex-end;
          margin-bottom: 0;
        }
      }
    }

    &__avatar {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      &-btn {
        border-radius: 5px !important;
        display: inline-block !important;
        color: var(--color-primary) !important;
        background: var(--color-white) !important;
        padding: 3px 12px !important;
        font-size: 14px !important;
        font-weight: 600 !important;
        font-family: var(--font-primary) !important;
        border: var(--border-width) solid var(--color-primary) !important;
        text-transform: capitalize !important;
        &:hover {
          background: var(--color-secondary) !important;
          border-color: var(--color-secondary) !important;
          color: var(--color-white) !important;
        }

        @media only screen and (max-width: 540px) {
          margin-bottom: 10px !important;
        }
      }
    }
  }

  &__block {
    &-title,
    &-subtitle {
      text-align: center;

      @media only screen and (min-width: 900px) {
        text-align: left;
      }
    }

    &-title {
      font-size: 16px !important;
      margin-bottom: 24px !important;
    }

    &-subtitle {
      font-size: 14px !important;
    }
  }
}
